* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

h1 {
    text-align: center;
    background-color: white;
    padding: 10px;
    margin: 0;
}

body {
    height: 100vh;
    background-color: #E2E8F0;
    font-family:Georgia, 'Times New Roman', Times, serif
}

#container {
    display: flex;
    justify-content: center;
}

.card {
    margin: 5px;
    width: 200px;
    height: 250px;
    word-break: break-word;
    background-color: white;
    padding: 30px 20px;
    margin: 20px 10px;
    border-radius: 10px;
    border-left: 10px solid #4d7ef9;
    position: relative;

}

.title {
    font-weight: bold;
}

.add-btn {
    align-self: center;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.add-btn {
    align-self: center;
    background-color: rgba(255, 255, 255, 0);
    padding: 0;
    border: none;
}

#add-book:hover {
    content: url("media/book-plus-hover.svg");
}

.delete-button {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 10px;
}

.delete-button::after {
    content: "╳";
}

.delete-button:hover {
   color: gray
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

dialog {
    border: 1px solid black;
    padding: 20px;
}

dialog p:first-of-type {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

dialog button {
    grid-column: 1 / 3;
    padding: 5px;
}